html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

/* our app container */
.app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding-left: 60px;
  background: #fff;
}
.app.active-repository {
  padding-top: 40px;
}

/* sidebar */
.sidebar {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  width: 60px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  font-family: sans-serif;
  padding: 11px 0 11px 11px;
}
.sidebar .repositories {
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
}
.sidebar .repositories::-webkit-scrollbar {
  display: none;
}
.sidebar .repositories::after {
  content: '';
  position: absolute;
  bottom: 49px;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to top, #f5f5f5, transparent);
  pointer-events: none;
}
.sidebar .button {
  position: relative;
  width: 34px;
  height: 34px;
  margin-bottom: 11px;
  border-radius: 4px;
  border: 2px solid transparent;
  color: #555;
  font-size: 1em;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
  transition: background-color .25s, color .25s;
}
.sidebar .button:not(:hover):not(.active):not(.add) {
  background-color: transparent !important;
}
.sidebar .button.active,
.sidebar .button:hover {
  color: #000;
}
.sidebar .button.active::after,
.sidebar .button:hover::after {
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  right: -10px;
  top: 15px;
  content: '';
  background-color: black;
  border-radius: 50%;
}
.sidebar .button.add {
  font-size: 1.8em;
  background-color: #ccc;
}
.sidebar .button.add:hover {
  background-color: #aaa;
}
.sidebar .button.add:hover::after {
  display: none;
}

/* welcome screen */
.welcome {
  flex: 1;
  background-image: url('icon/welcome-light.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* toolbar */
.toolbar {
  box-sizing: border-box;
  padding: 0 .875em;
  font-family: sans-serif;
}
.toolbar .button:first-child {
  padding-left: 0;
}
.toolbar .button:last-child {
  padding-right: 0;
}
.toolbar .button {
  display: inline-block;
  padding: .4375em;
  color: #555;
}
.toolbar .button.disabled {
  color: #aaa;
}
.toolbar .button:hover:not(.disabled) {
  color: #000;
}
.toolbar .button .fa {
  font-size: 1.25em;
  padding: calc(1em / 6);
}

/* main toolbar */
.app > .toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 40px;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

/* file lists */
.file-list .header {
  padding: .375em 1em;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  color: #555;
  cursor: default;
  line-height: 1.125em;
}
.file-list .header .heading {
  font-size: .7em;
  text-transform: uppercase;
  font-weight: bold;
}

/* file status */
.file-status .header {
  position: sticky;
  top: 40px;
  z-index: 50;
  padding: .5em .875em;
  background-color: #fff;
}
.file-status .filename .fa {
  min-width: .6em;
  padding-right: .1875em;
  font-size: .875em;
  text-align: center;
}
.file-status .toolbar {
  position: absolute;
  top: 0;
  right: 0;
}
.file-status .toolbar .button {
  padding: .25em;
}

/* file-diff */
.file-diff {
  display: flex;
  position: relative;
  border-bottom: 1px solid #ddd;
}

/* file containers */
.file {
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  background-color: #fff;
}
.file::before {
  position: absolute;
  content: ' ';
  z-index: 5;
  top: 0;
  bottom: 0;
  width: 60px;
  background-color: #f7f7f7;
}
.file-left {
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, .15);
}
.file-right {
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, .15);
}
.file .file-offset {
  position: relative;
}
.file .file-contents {
  overflow-x: scroll;
  padding-bottom: 1px;
}
.file .file-contents::-webkit-scrollbar {
  display: none;
}
.file .file-contents pre {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  display: inline-block;
  vertical-align: top;
  min-width: 100%;
  margin: 0;
  padding-left: 60px;
}

/* file lines */
div.line {
  box-sizing: border-box;
  height: 22px;
  padding: 0 5px;
}
div.line.action-delete {
  background-color: rgba(255, 96, 96, .25);
}
div.line.action-add {
  background-color: rgba(96, 255, 96, .25);
}
div.line.action-edit {
  background-color: rgba(96, 96, 255, .25);
}
div.line.chunk-start.action-delete {
  box-shadow: 0 -1px 0 0 rgba(255, 96, 96, .25);
}
div.line.chunk-start.action-add {
  box-shadow: 0 -1px 0 0 rgba(96, 255, 96, .25);
}
div.line.chunk-start.action-edit {
  box-shadow: 0 -1px 0 0 rgba(96, 96, 255, .25);
}
div.line.chunk-end.action-delete {
  box-shadow: 0 1px 0 0 rgba(255, 96, 96, .25);
}
div.line.chunk-end.action-add {
  box-shadow: 0 1px 0 0 rgba(96, 255, 96, .25);
}
div.line.chunk-end.action-edit {
  box-shadow: 0 1px 0 0 rgba(96, 96, 255, .25);
}
div.line.chunk-start.chunk-end.action-delete {
  box-shadow: 0 -1px 0 0 rgba(255, 96, 96, .25), 0 1px 0 0 rgba(255, 96, 96, .25);
}
div.line.chunk-start.chunk-end.action-add {
  box-shadow: 0 -1px 0 0 rgba(96, 255, 96, .25), 0 1px 0 0 rgba(96, 255, 96, .25);
}
div.line.chunk-start.chunk-end.action-edit {
  box-shadow: 0 -1px 0 0 rgba(96, 96, 255, .25), 0 1px 0 0 rgba(96, 96, 255, .25);
}
.file-left div.line.chunk-start.chunk-end.action-add {
  box-shadow: 0 -1px 0 0 rgba(96, 255, 96, .25), inset 0 1px 0 0 rgba(96, 255, 96, .25);
  background-color: transparent;
}
.file-right div.line.chunk-start.chunk-end.action-delete {
  box-shadow: 0 1px 0 0 rgba(255, 96, 96, .25), inset 0 -1px 0 0 rgba(255, 96, 96, .25);
  background-color: transparent;
}

/* context */
div.line.hide {
  display: none;
}
div.line.first-hide {
  display: block;
  background-color: rgba(0, 0, 0, .10);
  color: transparent;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .10), 0 1px 0 0 rgba(0, 0, 0, .10);
}
div.line.first-hide span {
  display: none;
}

/* sub-chunks */
div.line span {
  display: inline-block;
}
.sub-chunk {
  background-color: rgba(128, 128, 255, .35);
}
.file-left .sub-chunk.action-add,
.file-right .sub-chunk.action-delete {
  vertical-align: bottom;
  min-width: 2px;
  min-height: 22px;
  margin: 0 -1px;
}

/* file gutter and line numbers */
.file-gutter {
  position: absolute;
  z-index: 10;
  min-width: 60px;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  color: #888;
}
.file-gutter div.line {
  padding: 0 10px;
}

/* river and bridges */
.river {
  position: relative;
  min-width: 5%;
}
.river .bridge {
  position: absolute;
  width: 100%;
}
.bridge.action-delete {
  fill: rgba(255, 96, 96, .25);
}
.bridge.action-add {
  fill: rgba(96, 255, 96, .25);
}
.bridge.action-edit {
  fill: rgba(96, 96, 255, .25);
}
.bridge.action-context {
  fill: rgba(0, 0, 0, .10);
}

/* adjust for dark themes */
.dark-theme.app {
  background-color: #222;
}
.dark-theme .sidebar {
  background-color: #333;
  border-right: 1px solid #111;
}
.dark-theme .sidebar .repositories::after {
  background: linear-gradient(to top, #333333, transparent);
}
.dark-theme .sidebar .button {
  color: #ccc;
}
.dark-theme .sidebar .button:hover,
.dark-theme .sidebar .button.active {
  color: #fff;
}
.dark-theme .sidebar .button.active::after,
.dark-theme .sidebar .button:hover::after {
  background-color: #fff;
}
.dark-theme .sidebar .button.add {
  background-color: #555;
}
.dark-theme .sidebar .button.add:hover {
  background-color: #777;
}
.dark-theme .welcome {
  background-image: url('icon/welcome-dark.png');
}
.dark-theme.app > .toolbar {
  background-color: #333;
  border-bottom: 1px solid #111;
}
.dark-theme .toolbar .button {
  color: #ccc;
}
.dark-theme .toolbar .button.disabled {
  color: #777;
}
.dark-theme .toolbar .button:hover:not(.disabled) {
  color: #fff;
}
.dark-theme .file-list .header {
  background-color: #333;
  border-bottom: 1px solid #111;
  color: #ccc;
}
.dark-theme .file-status .header {
  background-color: #222;
}
.dark-theme .file-diff {
  border-bottom: 1px solid #111;
}
.dark-theme .file {
  background-color: #1d1f21;
}
.dark-theme .file::before {
  background-color: #292c2f;
}
.dark-theme .file-left {
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, .15);
}
.dark-theme .file-right {
  box-shadow: -1px 0 0 0 rgba(255, 255, 255, .15);
}
.dark-theme .file .file-contents {
  color: #eee;
}
.dark-theme div.line.first-hide {
  background-color: rgba(0, 0, 0, .6);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .6), 0 1px 0 0 rgba(0, 0, 0, .6);
}
.dark-theme .bridge.action-context {
  fill: rgba(0, 0, 0, .6);
}
