atom-text-editor,
:host {
  background-color: #1d1f21;
  color: #c5c8c6;
}
atom-text-editor .invisible-character,
:host .invisible-character {
  color: rgba(197, 200, 198, 0.2);
}
atom-text-editor .indent-guide,
:host .indent-guide {
  color: rgba(197, 200, 198, 0.2);
}
atom-text-editor .wrap-guide,
:host .wrap-guide {
  background-color: rgba(197, 200, 198, 0.1);
}
atom-text-editor .gutter,
:host .gutter {
  background-color: #292c2f;
}
atom-text-editor .gutter .cursor-line,
:host .gutter .cursor-line {
  background-color: rgba(255, 255, 255, 0.14);
}
atom-text-editor .line-number.cursor-line-no-selection,
:host .line-number.cursor-line-no-selection {
  background-color: rgba(255, 255, 255, 0.14);
}
atom-text-editor .gutter .line-number.folded,
:host .gutter .line-number.folded,
atom-text-editor .gutter .line-number:after,
:host .gutter .line-number:after,
atom-text-editor .fold-marker:after,
:host .fold-marker:after {
  color: #fba0e3;
}
atom-text-editor .invisible,
:host .invisible {
  color: #c5c8c6;
}
atom-text-editor .cursor,
:host .cursor {
  border-color: white;
}
atom-text-editor .selection .region,
:host .selection .region {
  background-color: #444;
}
atom-text-editor .source.gfm,
:host .source.gfm {
  color: #999;
}
atom-text-editor .gfm .markup.heading,
:host .gfm .markup.heading {
  color: #eee;
}
atom-text-editor .gfm .link,
:host .gfm .link {
  color: #555;
}
atom-text-editor .gfm .variable.list,
:host .gfm .variable.list,
atom-text-editor .gfm .support.quote,
:host .gfm .support.quote {
  color: #555;
}
atom-text-editor .gfm .link .entity,
:host .gfm .link .entity {
  color: #ddd;
}
atom-text-editor .gfm .raw,
:host .gfm .raw {
  color: #aaa;
}
atom-text-editor .markdown .paragraph,
:host .markdown .paragraph {
  color: #999;
}
atom-text-editor .markdown .heading,
:host .markdown .heading {
  color: #eee;
}
atom-text-editor .markdown .raw,
:host .markdown .raw {
  color: #aaa;
}
atom-text-editor .markdown .link,
:host .markdown .link {
  color: #555;
}
atom-text-editor .markdown .link .string,
:host .markdown .link .string {
  color: #555;
}
atom-text-editor .markdown .link .string.title,
:host .markdown .link .string.title {
  color: #ddd;
}
.bracket-matcher .region {
  border-bottom: 1px solid #f8de7e;
  margin-top: -1px;
  opacity: .7;
}
.comment {
  color: #7C7C7C;
}
.entity {
  color: #FFD2A7;
}
.entity.name.type {
  text-decoration: underline;
  color: #FFFFB6;
}
.entity.other.inherited-class {
  color: #9B5C2E;
}
.keyword {
  color: #96CBFE;
}
.keyword.control {
  color: #96CBFE;
}
.keyword.operator {
  color: #EDEDED;
}
.storage {
  color: #CFCB90;
}
.storage.modifier {
  color: #96CBFE;
}
.constant {
  color: #99CC99;
}
.constant.numeric {
  color: #FF73FD;
}
.variable {
  color: #C6C5FE;
}
.invalid.deprecated {
  text-decoration: underline;
  color: #FD5FF1;
}
.invalid.illegal {
  color: #FD5FF1;
  background-color: rgba(86, 45, 86, 0.75);
}
.string .source,
.string .meta.embedded.line {
  color: #EDEDED;
}
.string .punctuation.section.embedded {
  color: #00A0A0;
}
.string .punctuation.section.embedded .source {
  color: #00A0A0;
}
.string {
  color: #A8FF60;
}
.string .constant {
  color: #00A0A0;
}
.string.regexp {
  color: #E9C062;
}
.string.regexp .constant.character.escape,
.string.regexp .source.ruby.embedded,
.string.regexp .string.regexp.arbitrary-repetition {
  color: #FF8000;
}
.string.regexp.group {
  color: #C6A24F;
  background-color: rgba(255, 255, 255, 0.06);
}
.string.regexp.character-class {
  color: #B18A3D;
}
.string .variable {
  color: #8A9A95;
}
.support {
  color: #FFFFB6;
}
.support.function {
  color: #DAD085;
}
.support.constant {
  color: #FFD2A7;
}
.support.type.property-name.css {
  color: #EDEDED;
}
.source .entity.name.tag,
.source .punctuation.tag {
  color: #96CBFE;
}
.source .entity.other.attribute-name {
  color: #C6C5FE;
}
.entity.other.attribute-name {
  color: #C6C5FE;
}
.entity.name.tag.namespace,
.entity.other.attribute-name.namespace {
  color: #E18964;
}
.meta.preprocessor.c {
  color: #8996A8;
}
.meta.preprocessor.c .keyword {
  color: #AFC4DB;
}
.meta.cast {
  color: #676767;
}
.meta.sgml.html .meta.doctype,
.meta.sgml.html .meta.doctype .entity,
.meta.sgml.html .meta.doctype .string,
.meta.xml-processing,
.meta.xml-processing .entity,
.meta.xml-processing .string {
  color: #494949;
}
.meta.tag .entity,
.meta.tag > .punctuation,
.meta.tag.inline .entity {
  color: #C6C5FE;
}
.meta.tag .name,
.meta.tag.inline .name,
.meta.tag > .punctuation {
  color: #96CBFE;
}
.meta.selector.css .entity.name.tag {
  text-decoration: underline;
  color: #96CBFE;
}
.meta.selector.css .entity.other.attribute-name.tag.pseudo-class {
  color: #8F9D6A;
}
.meta.selector.css .entity.other.attribute-name.id {
  color: #8B98AB;
}
.meta.selector.css .entity.other.attribute-name.class {
  color: #62B1FE;
}
.meta.property-group .support.constant.property-value.css,
.meta.property-value .support.constant.property-value.css {
  color: #F9EE98;
}
.meta.preprocessor.at-rule .keyword.control.at-rule {
  color: #8693A5;
}
.meta.property-value .support.constant.named-color.css,
.meta.property-value .constant {
  color: #87C38A;
}
.meta.constructor.argument.css {
  color: #8F9D6A;
}
.meta.diff,
.meta.diff.header {
  color: #F8F8F8;
  background-color: #0E2231;
}
.meta.separator {
  color: #60A633;
  background-color: #242424;
}
.meta.line.entry.logfile,
.meta.line.exit.logfile {
  background-color: rgba(238, 238, 238, 0.16);
}
.meta.line.error.logfile {
  background-color: #751012;
}
